<div class="col-<%= typeof col == 'undefined' ? "auto" : col %>">
    <input class="form-control" type="text" id="<%= item.id %>" <%= typeof required == 'undefined' ? "" : "required" %>>
    <% if (item.err) { %>
        <div class="invalid-feedback">
            Необходимо ввести значение.
        </div>
    <% } %>
    <label class="form-label" for="<%= item.id %>"><%= item.name %></label>
</div>
