<div class="modal fade" id="<%= id %>" tabindex="-1" aria-labelledby="Окно инструкций" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Последовательность выбора действий в лечебной тактике ведения пациентов с ЖКК
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <p class="fs-6">
                    Выберите опции, в связи с которыми, будет настроен список рекомендаций
                </p>
                <%- include('src/ejsTemplates/checkbox',{
                item: tacticsCheckboxes.bleedContinue,
                classList: "form-check-inline"
                }); %>
                <%- include('src/ejsTemplates/checkbox',{
                item: tacticsCheckboxes.repeat,
                classList: "form-check-inline"
                }); %>
                <%- include('src/ejsTemplates/checkbox',{
                item: tacticsCheckboxes.thrombosedVessel,
                classList: "form-check-inline"
                }); %>
                <%- include('src/ejsTemplates/checkbox',{
                item: tacticsCheckboxes.diverticulitis,
                classList: "form-check-inline"
                }); %>
                <hr>
                <div id="instructions">
                    <% Object.keys(tactics).forEach(function(key){ %>
                        <div id="<%= key %>">
                            <%- include('src/ejsTemplates/recomendation', {tactic: tactics[key]}); %>
                        </div>
                    <% }); %>
                </div>
                <button type="button" class="btn btn-primary float-end" data-bs-dismiss="modal"
                        id="instructionModal__close">
                    Закрыть
                </button>
            </div>
        </div>
    </div>
</div>
