<div class="form-check">
    <input class="form-check-input" type="radio" id="<%= item.id %>" name="<%= group %>" required>
    <% if (item.err) { %>
        <div class="invalid-feedback"><%= item.err %></div>
    <% } %>
    <label class="form-check-label" for="<%= item.id %>"><%= item.name %></label>
    <% if (item.desc) { %>
        <div class="form-text"><%= item.desc %></div>
    <% } %>
</div>